# Project exclude paths
/.gradle/
/build/
/.idea/
/test/
/out/
/run/
/data/python-files/python-files.tar.xz
/src/main/resources/mybatis-config.xml
/src/main/resources/hello.txt
/src/main/resources/db.properties