<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.soulspace.pluginsfrompy.dao.CiMapper">
    <select id="getCiByRhythmic" parameterType="map" resultType="ci">
        select *
        from poems.ci
        where rhythmic = #{rhythmic}
        limit #{startIndex}, #{pageSize}
    </select>

    <select id="getCiByAuthor" parameterType="map" resultType="ci">
        select *
        from poems.ci
        where rhythmic = #{rhythmic}
        limit #{startIndex}, #{pageSize}
    </select>

    <select id="getCiList" resultType="Ci">
        select *
        from poems.ci
        where author = '陸游'
    </select>

    <select id="getCiById" parameterType="int" resultType="ci">
        select *
        from poems.ci
        where value = #{id}
    </select>

    <select id="getCiParagraphsLike" parameterType="map" resultType="ci">
        select *
        from poems.ci
        where ci.content like concat('%', #{content}, '%')
        limit #{startIndex}, #{pageSize}
    </select>

</mapper>