<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <properties resource="db.properties"/>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.github.soulspace.pluginsfrompy.pojo.Ci" alias="ci"/>
        <typeAlias type="com.github.soulspace.pluginsfrompy.pojo.PoemTang" alias="poemTang"/>
        <typeAlias type="com.github.soulspace.pluginsfrompy.pojo.PoemSong" alias="poemSong"/>
        <typeAlias type="com.github.soulspace.pluginsfrompy.pojo.WordCET6" alias="wordCET6"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="PoemTangMapper.xml"/>
        <mapper resource="PoemSongMapper.xml"/>
        <mapper resource="CiMapper.xml"/>
        <mapper resource="WordCET6Mapper.xml"/>
    </mappers>
</configuration>