<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.soulspace.pluginsfrompy.dao.PoemTangMapper">
    <select id="getPoemTangList" resultType="poemTang">
        select * from poems.poem_tang where author = "李白"
    </select>

    <select id="getPoemTangById" parameterType="int" resultType="poemTang">
        select * from poems.poem_tang where value = #{id}
    </select>

    <select id="getPoemTangNumberByTitle" parameterType="String" resultType="int">
        select count(*) from poems.poem_tang where title = #{title}
    </select>

    <select id="getPoemTangByTitle" parameterType="map" resultType="poemTang">
        select * from poems.poem_tang where title = #{title} limit #{startIndex}, #{pageSize}
    </select>

    <select id="getPoemTangByAuthor" parameterType="map" resultType="poemTang">
        select * from poems.poem_tang where author = #{author} limit #{startIndex}, #{pageSize}
    </select>

    <select id="getPoemTangParagraphsLike" parameterType="map" resultType="poemTang">
        select * from poems.poem_tang where paragraphs like "%"#{paragraph}"%" limit #{startIndex}, #{pageSize}
    </select>

    <select id="getPoemTangNumberByAuthor" parameterType="String" resultType="int">
        select count(*) from poems.poem_tang where author = #{author}
    </select>
</mapper>