<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.soulspace.pluginsfrompy.dao.PoemSongMapper">
    <select id="getPoemSongList" resultType="poemSong">
        select * from poems.poem_song where author = '陸游'
    </select>

    <select id="getPoemSongById" parameterType="int" resultType="poemSong">
        select * from poems.poem_song where value = #{id}
    </select>

    <select id="getPoemSongNumberByTitle" parameterType="String" resultType="int">
        select count(*) from poems.poem_song where title = #{title}
    </select>

    <select id="getPoemSongByTitle" parameterType="map" resultType="poemSong">
        select * from poems.poem_song where title = #{title} limit #{startIndex}, #{pageSize}
    </select>

    <select id="getPoemSongByAuthor" parameterType="map" resultType="poemSong">
        select * from poems.poem_song where author = #{author} limit #{startIndex}, #{pageSize}
    </select>

    <select id="getPoemSongParagraphsLike" parameterType="map" resultType="poemSong">
        select * from poems.poem_song where paragraphs like "%"#{paragraph}"%" limit #{startIndex}, #{pageSize}
    </select>

    <select id="getPoemSongNumberByAuthor" parameterType="String" resultType="int">
        select count(*) from poems.poem_song where author = #{author}
    </select>
</mapper>