<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.soulspace.pluginsfrompy.dao.WordCET6Mapper">
    <select id="getWordByWord" resultType="wordCET6" parameterType="map">
        select *
        from words.CET6
        where word = #{word}
    </select>

    <select id="getWordParaphraseLike" resultType="wordCET6" parameterType="map">
        select *
        from words.CET6
        where paraphrase like concat('%', #{paraphrase}, '%')
    </select>

    <select id="getWordById" parameterType="int" resultType="wordCET6">
        select *
        from words.CET6 where id = #{id}
    </select>

    <select id="getWordLimitPage" parameterType="map" resultType="wordCET6">
        select *
        from words.CET6 limit #{startIndex}
            , #{pageSize}
    </select>
</mapper>